<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidopencv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainAct"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowLogo"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.SHOWLOGO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Test01"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Test02"
            android:label="@string/title_activity_main"
            android:screenOrientation = "portrait" >
            <intent-filter>
                <action android:name="android.intent.action.TESTIMAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        </application>

</manifest>